main {
  background-color: #FEF5ED;
  margin: 25px 6px;
  padding: 15px;  
  border-radius: 10px;
  color: #181D31;
  text-align: center;
}
header {
  background-color: #F0E9D2;
  text-align: center;
  border-radius: 10px;
}
h1 {
  padding: 15px 0 0 0;
}
p {
  margin: -15px 0 15px 0;
  padding: 0 0 15px 0;
  font-style: italic;
}
#img-div {
  background-color: #E6DDC4;
  padding: 3px 10px 10px 10px;
  border-radius: 10px;
}
#image {
  max-width: 100%;
  height: auto;
}
#img-caption {
  font-style: italic;
}
img {
  margin: 10px auto;
  display: block;
}
#tribute-info ul {
  text-align: left;
  max-width: 500px;
  margin: 20px auto 50px auto;
}
#tribute-info ul li {
  margin: 10px;
}